    .bodyDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-top: 200px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    .login-container h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .loginForm {
      height: 400px;
      width: 400px;
    }

    .loginInput {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .loginButton {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .loginButton:hover {
      background-color: #0056b3;
    }
